[Match]
Name=br0

[Network]
{% if bridge_ip is defined %}
Address={{ bridge_ip }}
{% else %}
# Address to be set per host
{% endif %}

{% if bridge_gw is defined %}
Gateway={{ bridge_gw }}
{% else %}
# Gateway to be set per host
{% endif %}
