#!/bin/bash

set -o errexit
set -o pipefail

KOLLA_CONFIG_PATH=${KOLLA_CONFIG_PATH:-/etc/kolla}
KOLLA_OPENSTACK_COMMAND=openstack

# Image
ARCH=$(uname -m)
CIRROS_RELEASE=${CIRROS_RELEASE:-0.6.2}
IMAGE_PATH=/opt/cache/files/
IMAGE_URL=https://github.com/cirros-dev/cirros/releases/download/${CIRROS_RELEASE}/
IMAGE=cirros-${CIRROS_RELEASE}-${ARCH}-disk.img
IMAGE_NAME=cirros
IMAGE_TYPE=linux

# Internal network
DEMO_NET_CIDR=${DEMO_NET_CIDR:-10.0.0.0/24}
DEMO_NET_GATEWAY=${DEMO_NET_GATEWAY:-10.0.0.1}
DEMO_NET_DNS=${DEMO_NET_DNS:-8.8.8.8}

# External network
ENABLE_EXT_NET=${ENABLE_EXT_NET:-1}
EXT_NET_NAME=${EXT_NET_NAME:-public}
EXT_NET_PREFIX=${EXT_NET_PREFIX:-10.0.1}
EXT_NET_CIDR=${EXT_NET_CIDR:-${EXT_NET_PREFIX}.0/24}
EXT_NET_RANGE=${EXT_NET_RANGE:-start=${EXT_NET_PREFIX}.{{ pool_start }},end=${EXT_NET_PREFIX}.{{ pool_end }}}
EXT_NET_GATEWAY=${EXT_NET_GATEWAY:-${EXT_NET_PREFIX}.1}

# Sanitize
unset LANG
unset LANGUAGE
LC_ALL=C
export LC_ALL

# Test for admin-openrc.sh
if [[ ! -f ${KOLLA_CONFIG_PATH}/admin-openrc.sh ]]; then
    echo "${KOLLA_CONFIG_PATH}/admin-openrc.sh is missing."
    echo " Did you run kolla-ansible post-deploy?"
    exit 1
fi

source /etc/kolla/admin-openrc.sh
mkdir -p /openstack/e4user/keys

# Test to ensure configure script is run only once
if $KOLLA_OPENSTACK_COMMAND image list | grep -q cirros; then
    echo "This tool should only be run once per deployment."
    exit
fi

echo Checking for locally available cirros image.
if ! [ -f "${IMAGE_PATH}/${IMAGE}" ]; then
    IMAGE_PATH='./'
    if ! [ -f "${IMAGE_PATH}/${IMAGE}" ]; then
        echo "None found, downloading cirros image (version $CIRROS_RELEASE)."
        curl --fail -L -o ${IMAGE_PATH}/${IMAGE} ${IMAGE_URL}/${IMAGE}
    fi
else
    echo Using cached cirros image from the nodepool node.
fi

echo Creating glance image.
$KOLLA_OPENSTACK_COMMAND image create --disk-format qcow2 --container-format bare --public \
    --property os_type=${IMAGE_TYPE} --file ${IMAGE_PATH}/${IMAGE} ${IMAGE_NAME}

echo Configuring neutron.

$KOLLA_OPENSTACK_COMMAND router create demo-router

$KOLLA_OPENSTACK_COMMAND network create --mtu 1442 demo-net
$KOLLA_OPENSTACK_COMMAND subnet create --ip-version 4 \
    --subnet-range ${DEMO_NET_CIDR} --network demo-net \
    --gateway ${DEMO_NET_GATEWAY} --dns-nameserver ${DEMO_NET_DNS} demo-subnet

$KOLLA_OPENSTACK_COMMAND router add subnet demo-router demo-subnet

if [[ $ENABLE_EXT_NET -eq 1 ]]; then
    $KOLLA_OPENSTACK_COMMAND network create --external --mtu 1442 --provider-physical-network physnet1 \
        --provider-network-type flat ${EXT_NET_NAME}
    $KOLLA_OPENSTACK_COMMAND subnet create --ip-version 4 \
        --allocation-pool ${EXT_NET_RANGE} --network ${EXT_NET_NAME} \
        --subnet-range ${EXT_NET_CIDR} --gateway ${EXT_NET_GATEWAY} ${EXT_NET_NAME}-subnet

    $KOLLA_OPENSTACK_COMMAND router set --external-gateway ${EXT_NET_NAME} demo-router
fi

# Get admin user and tenant IDs
ADMIN_PROJECT_ID=$($KOLLA_OPENSTACK_COMMAND project list | awk '/ admin / {print $2}')
ADMIN_SEC_GROUP=$($KOLLA_OPENSTACK_COMMAND security group list --project ${ADMIN_PROJECT_ID} | awk '/ default / {print $2}')

# Sec Group Config
$KOLLA_OPENSTACK_COMMAND security group rule create --ingress --ethertype IPv4 \
    --protocol icmp ${ADMIN_SEC_GROUP}
$KOLLA_OPENSTACK_COMMAND security group rule create --ingress --ethertype IPv4 \
    --protocol tcp --dst-port 22 ${ADMIN_SEC_GROUP}

# Key generation
if [ ! -f /openstack/e4user/keys/instanceKey.pub ]; then
    echo Generating ssh key.
    ssh-keygen -t ecdsa -N '' -f /openstack/e4user/keys/instanceKey
fi
if [ -r /openstack/e4user/keys/instanceKey.pub ]; then
    echo Configuring nova public key and quotas.
    $KOLLA_OPENSTACK_COMMAND keypair create --public-key /openstack/e4user/keys/instanceKey.pub mykey
fi

# Quotas
$KOLLA_OPENSTACK_COMMAND quota set --instances 40 ${ADMIN_PROJECT_ID}
$KOLLA_OPENSTACK_COMMAND quota set --cores 40 ${ADMIN_PROJECT_ID}
$KOLLA_OPENSTACK_COMMAND quota set --ram 96000 ${ADMIN_PROJECT_ID}

# Add default flavors, if they don't already exist
if ! $KOLLA_OPENSTACK_COMMAND flavor list | grep -q m1.tiny; then
    $KOLLA_OPENSTACK_COMMAND flavor create --id 1 --ram 512 --disk 1 --vcpus 1 m1.tiny
    $KOLLA_OPENSTACK_COMMAND flavor create --id 2 --ram 2048 --disk 20 --vcpus 1 m1.small
    $KOLLA_OPENSTACK_COMMAND flavor create --id 3 --ram 4096 --disk 40 --vcpus 2 m1.medium
    $KOLLA_OPENSTACK_COMMAND flavor create --id 4 --ram 8192 --disk 80 --vcpus 4 m1.large
    $KOLLA_OPENSTACK_COMMAND flavor create --id 5 --ram 16384 --disk 160 --vcpus 8 m1.xlarge
    $KOLLA_OPENSTACK_COMMAND flavor create --id 6 --ram 512 --disk 1 --vcpus 2 m2.tiny
fi

# Generate instance
VM_NAME=${VM_NAME:-'demo-vm'}
$KOLLA_OPENSTACK_COMMAND server create --image ${IMAGE_NAME} --flavor m1.tiny --key-name mykey --network demo-net ${VM_NAME}
$KOLLA_OPENSTACK_COMMAND floating ip create ${EXT_NET_NAME}
FLOATING_IP=$($KOLLA_OPENSTACK_COMMAND floating ip list -c "Floating IP Address" -f value)
echo "Wait 5 seconds to let host's port generate"
sleep 5
$KOLLA_OPENSTACK_COMMAND server add floating ip ${VM_NAME} ${FLOATING_IP}
